default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: research_template_development

test:
  <<: *default
  database: research_template_test

production:
  <<: *default
  database: research_template_production
  username: research_template
  password: <%= ENV['RESEARCH_TEMPLATE_DATABASE_PASSWORD'] %>
